<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>

		<client>
			<endpoint name="SmartGrid"
					  address="net.tcp://localhost:4002/SmartGrid"
					  binding="netTcpBinding"
					  contract="Common.IService" />
		</client>

	</system.serviceModel>
</configuration>