<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="Service.SmartGridService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4000" />
					</baseAddresses>
				</host>
				<!-- Service Endpoints-->
				<endpoint address="Service" binding="netTcpBinding" contract="Common.IService" />
			</service>
		</services>
	</system.serviceModel>
</configuration>